version: '3.9'

services:
  apache2:
    build:
      context: ./apache2
      args:
        LISTEN_PORT: "8181"
    container_name: apache2
  rails:
    build:
      context: ./rails
    container_name: rails
  postgresql:
    build:
      context: ./postgresql
    container_name: postgresql
  redis:
    build:
      context: ./redis
      args:
        WORK_DIR: /opt/redis
        VERSION: 6.2.5
    container_name: redis
    environment:
      LISTEN_PORT: "6379"
      DB_FILENAME: "example.rdb"
  requester:
    build:
      context: ./requester
    container_name: requester
    environment:
      REQ_HOST: "apache2"
      REQ_PORT: "8181"